HicksandGriffith2014/5-27 Progress Presentation.pptx
HicksandGriffith2014/Bat_Analysis.m
HicksandGriffith2014/MEMBRADCP.mat
HicksandGriffith2014/MEMBRENG.RPT
HicksandGriffith2014/MEMBRVEL.RPT
HicksandGriffith2014/Polar Plot.png
HicksandGriffith2014/Presentation5-27.pptx
HicksandGriffith2014/Resource_Evaluation (mm1182@wildcats.unh.edu).m
HicksandGriffith2014/Resource_Evaluation.asv
HicksandGriffith2014/Resource_Evaluation1.m
HicksandGriffith2014/TECH797 MemBridge_FINAL REPORT.pdf
HicksandGriffith2014/fixgaps.m
HicksandGriffith2014/membreng.jpg
HicksandGriffith2014/onemonthE.m
HicksandGriffith2014/onemonthbinE.m
HicksandGriffith2014/peakdet.m
HicksandGriffith2014/plotadcp.m
HicksandGriffith2014/ploteng.m
HicksandGriffith2014/range01m.jpg
HicksandGriffith2014/range02m.jpg
HicksandGriffith2014/range03m.jpg
HicksandGriffith2014/range04m.jpg
HicksandGriffith2014/range05m.jpg
HicksandGriffith2014/range06m.jpg
HicksandGriffith2014/range07m.jpg
HicksandGriffith2014/range08m.jpg
HicksandGriffith2014/range09m.jpg
HicksandGriffith2014/range10m.jpg
HicksandGriffith2014/range11m.jpg
HicksandGriffith2014/range12m.jpg
HicksandGriffith2014/seadens.m
HicksandGriffith2014/sortadcp.m
HicksandGriffith2014/wsmooth.m
HicksandGriffith2014/BridgeLayout.JPG
HicksandGriffith2014/DirectionMap.SLDPRT
HicksandGriffith2014/~$DirectionMap.SLDPRT
PIR0705Kammerer2007/ADCP.mat
PIR0705Kammerer2007/ADCP_Data_Analysis1.m~
PIR0705Kammerer2007/PIR0705.hdr
PIR0705Kammerer2007/PIR0705_bin01.dat
PIR0705Kammerer2007/PIR0705_bin02.dat
PIR0705Kammerer2007/PIR0705_bin03.dat
PIR0705Kammerer2007/PIR0705_bin04.dat
PIR0705Kammerer2007/PIR0705_bin05.dat
PIR0705Kammerer2007/PIR0705_bin06.dat
PIR0705Kammerer2007/PIR0705_bin07.dat
PIR0705Kammerer2007/PIR0705_bin08.dat
PIR0705Kammerer2007/PIR0705_bin09.dat
PIR0705Kammerer2007/PIR0705_bin10.dat
PIR0705Kammerer2007/PIR0705_bin11.dat
PIR0705Kammerer2007/PIR0705_bin12.dat
PIR0705Kammerer2007/PIR0705_bin13.dat
PIR0705Kammerer2007/PIR0705_bin14.dat
PIR0705Kammerer2007/PIR0705_bin15.dat
PIR0705Kammerer2007/PIR0705_bin16.dat
PIR0705Kammerer2007/PIR0705_bin17.dat
PIR0705Kammerer2007/PIR0705_bin18.dat
PIR0705Kammerer2007/PIR0705_bin19.dat
PIR0705Kammerer2007/PIR0705_bin20.dat
PIR0705Kammerer2007/PIR0705_bin21.dat
PIR0705Kammerer2007/PIR0705_bin22.dat
PIR0705Kammerer2007/PIR0705_bin23.dat
PIR0705Kammerer2007/PIR0705_bin24.dat
PIR0705Kammerer2007/PIR0705_bin25.dat
PIR0705Kammerer2007/PIR0705_bin26.dat
PIR0705Kammerer2007/PIR0705_bin27.dat
PIR0705Kammerer2007/PIR0705_bin28.dat
PIR0705Kammerer2007/PIR0705_bin29.dat
PIR0705Kammerer2007/PIR0705_bin30.dat
PIR0705Kammerer2007/PIR0705metadata.dat
PIR0705Kammerer2007/Vel_AmpMod.m
PIR0705Kammerer2007/addScrollbar.m
PIR0705Kammerer2007/cnv2icudf.m
PIR0705Kammerer2007/datenum.m
PIR0705Kammerer2007/dtstr2dtnummx.mexw64
PIR0705Kammerer2007/onemonthbinE.m
PIR0705Kammerer2007/peakdet.m
PIR0705Kammerer2007/readme.txt
PIR0705Kammerer2007/wsmooth.m